.filled-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: fit-content;
  min-width: 232px;
  height: 40px;
  padding: 0 25px;
  @include fluid-font-size(14px, 16px, 767px, 1199px);
  font-weight: 700;
  border-radius: 100px;
  color: var(--color-black);
  background: var(--color-yellow);
  transition: all 0.4s;
  z-index: 111;

  &:hover {
    background: var(--hover-yellow);
    transition: all 0.4s;
  }

  @media (min-width: 2000px) {
    min-width: 283px;
    height: 50px;
    font-size: 20px;
  }
  @media (max-width: 575px) {
    height: 45px;
    min-width: auto;
    svg {
      max-width: 20px;
    }
  }
}
.outlined-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: fit-content;
  min-width: 232px;
  height: 40px;
  padding: 0 25px;
  @include fluid-font-size(14px, 16px, 767px, 1199px);
  font-weight: 700;
  background: rgba(255, 255, 255, 0);
  border-radius: 100px;
  border: 1px solid var(--color-yellow);
  color: var(--color-yellow);
  transition: all 0.4s;
  z-index: 111;

  &:hover {
    background: var(--color-yellow);
    color: var(--color-black);
    transition: all 0.4s;
  }
  &:hover .wa-icon {
    path {
      fill: var(--color-black);
      transition: all 0.4s;
    }
  }
  & .wa-icon svg {
    transition: all 0.4s;
    & > path {
      fill: var(--color-yellow);
    }
  }

  @media (min-width: 2000px) {
    min-width: 283px;
    height: 50px;
    font-size: 20px;
  }
  @media (max-width: 575px) {
    height: 45px;
    min-width: auto;
    svg {
      max-width: 20px;
    }
  }
}
