.modal {
  display: none;
  max-width: 390px;
  height: fit-content;
  color: var(--color-black);
  background: var(--color-white);
  padding: 30px;
  border-radius: 20px;

  @media (min-width: 2000px) {
    max-width: 490px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    max-width: 95%;
    margin-bottom: 15px;

    @media (min-width: 2000px) {
      font-size: 26px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;

    @media (min-width: 2000px) {
      font-size: 20px;
    }
  }

  &__input {
    width: 100%;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    margin-bottom: 10px;

    @media (min-width: 2000px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__btn {
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
  }
  .innerSlider {
    margin-top: 20px;
    .swiper-wrapper {
      height: auto;

      .swiper-slide {
        text-align: center;
      }
    }
  }
}

.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: auto;
}

.fancybox__content > .carousel__button.is-close {
  top: 4%;
  right: 3%;
  color: var(--color-black);
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.modal-slides {
  max-width: 660px;

  @media (max-width: 767px) {
    max-width: 500px;
  }
  @media (max-width: 575px) {
    max-width: 390px;
  }
  @media (max-width: 400px) {
    max-width: 320px;
  }
  &__wrapper {
    gap: 20px;
    @media (max-width: 575px) {
      gap: 20px;
    }

    & > img {
      height: fit-content;
      @media (max-width: 575px) {
        max-width: 100px;
        width: 100%;
      }
    }
  }

  &__content {

  }
}

.modal-content {
  border: none;
}

.modal-dialog {
  margin: 0;
}


