.main {
  & > .row {
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 50px;
    @media (min-width: 2000px) {
      max-width: 760px;
    }
    @media (max-width: 575px) {
      margin: 15px 0 30px 0;
    }
  }

  &__ul {
    margin-bottom: 50px;
    @media (max-width: 575px) {
      margin-bottom: 35px;
    }
  }

  &__btns {
    display: flex;
    gap: 10px;
    @media (max-width: 530px) {
      flex-wrap: wrap;
    }
  }

  &__partners {
    margin-top: 100px;
    @media (max-width: 991px) {
      margin-top: 80px;
    }
  }
}

.main-wrapper {
  background: url("../img/main-bg.png") no-repeat bottom;
  background-size: cover;
  @media (max-width: 991px) {
    background: url("../img/bg-mob.png") bottom;
    background-size: cover;
  }
}

.video-block-wrapper {
  background: #FFFFFF;
}
