.header {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 50px;
  @media (max-width: 991px) {
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    margin-bottom: 40px;
  }
  @media (max-width: 575px) {
    margin-bottom: 15px;
  }

  &__btn {
    width: 232px;
    @media (max-width: 991px) {
      margin-left: 0;
      svg {
        max-width: 15px;
      }
    }
    @media (max-width: 575px) {
      justify-self: end;
      max-width: 200px;
      height: 36px;
      gap: 5px;
      padding: 0 15px;
      svg {
        max-width: 10px;
      }
    }
    @media (max-width: 475px) {
      justify-self: start;
    }
  }

  &__logo {
    @media (max-width: 1199px) {
      max-width: 290px;
    }
    @media (max-width: 575px) {
      max-width: 200px;
      max-height: 50px;
    }
  }

  &__contacts {
    display: flex;
    padding-top: 11px;
    row-gap: 5px;
    margin-left: auto;
    @media (max-width: 767px) {
      flex-direction: column;
      margin-left: 0;
    }
    @media (max-width: 575px) {
      padding-top: 5px;
    }
    & > span {
      font-weight: 700;
      font-size: 16px;
      color: var(--color-white);
      border-right: 1px solid var(--color-white);
      padding-right: 10px;

      @media (min-width: 2000px) {
        font-size: 20px;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }

    & > a {
      position: relative;
      font-weight: 300;
      width: fit-content;
      color: var(--color-white);
      padding-left: 10px;
      z-index: 111;
      transition: all 0.4s;

      @media (min-width: 2000px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }

      &:hover {
        color: var(--hover-yellow);
        transition: all 0.4s;
      }
    }
  }
}
