.header {
  display: grid;
  align-items: center;
  grid-template-areas:
  "logo logo logo"
  "btn contacts contacts";
  grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
  column-gap: 20px;
  row-gap: 30px;


  @media (min-width: 2000px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 285px));
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 230px));
    row-gap: 20px;
  }
  @media (max-width: 575px) {
    grid-template-areas:
  "logo btn"
  "contacts contacts";
    row-gap: 10px;
  }
  @media (max-width: 475px) {
    grid-template-areas:
  "logo logo"
  "contacts contacts"
  "btn btn";
    row-gap: 15px;
  }
  &__filled-btn {
    grid-area: btn;

    @media (max-width: 991px) {
      svg {
        max-width: 15px;
      }
    }
    @media (max-width: 575px) {
      justify-self: end;
      max-width: 180px;
      height: 34px;
      gap: 5px;
      padding: 0 15px;
      svg {
        max-width: 10px;
      }
    }
    @media (max-width: 475px) {
      justify-self: start;
    }
  }

  &__logo {
    grid-area: logo;
    @media (max-width: 991px) {
      max-width: 500px;
    }
    @media (max-width: 575px) {
      max-width: 270px;
      max-height: 35px;
    }
  }

  &__contacts {
    grid-area: contacts;
    display: flex;
    row-gap: 5px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    & > span {
      font-weight: 700;
      font-size: 16px;
      color: var(--color-white);
      border-right: 1px solid var(--color-white);
      padding-right: 10px;

      @media (min-width: 2000px) {
        font-size: 20px;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }

    & > a {
      position: relative;
      font-weight: 300;
      width: fit-content;
      color: var(--color-white);
      padding-left: 10px;
      z-index: 111;
      transition: all 0.4s;

      @media (min-width: 2000px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }

      &:hover {
        color: var(--hover-yellow);
        transition: all 0.4s;
      }
    }
  }
}
