.main-title {
  font-weight: 300;
  @include fluid-font-size(35px, 40px, 575px, 1399px);
  line-height: 40px;
  color: var(--color-white);
  @media (min-width: 2000px) {
    font-size: 55px;
    line-height: 50px;
  }
  @media (max-width: 575px) {
    line-height: 37px;
  }
}
