.cbk-phone .cbk-phone-bgr {
  background-color: #3763d3!important;
}
.callbackkiller.cbk-phone.cbk-phone-waves .cbk-phone-circle {
  background-color: rgb(55 99 211)!important;
}
.callbackkiller.cbk-phone.cbk-phone-waves .cbk-phone-second_circle, .callbackkiller.cbk-phone.cbk-phone-waves .cbk-phone-third_circle {
  border: 1px solid rgb(255 255 255)!important;
}
