.partners {

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 25px;
    background: var(--color-white);
    border-radius: 10px;
    @media (max-width: 991px) {
      gap: 25px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      gap: 20px;
    }
    @media (max-width: 575px) {
      gap: 10px;
      padding: 15px 20px;
    }
  }

  & h3 {
    font-weight: 300;
    font-size: 22px;
    max-width: 356px;
    @media (min-width: 2000px) {
      max-width: 640px;
      font-size: 28px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      max-width: 243px;
    }
    @media (max-width: 767px) {
      max-width: initial;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 35px;
    @media (max-width: 1199px) {
      gap: 20px;
      & .sber-icon > svg {
        max-width: 40px;
      }
      & .vtb-icon > svg {
        max-width: 45px;
      }
      & .evolution-icon > svg {
        max-width: 100px;
      }
      & .carcade-icon > svg {
        max-width: 80px;
      }
    }
    @media (max-width: 575px) {
      gap: 20px;
      & .sber-icon > svg {
        max-width: 30px;
      }
      & .vtb-icon > svg {
        max-width: 30px;
      }
      & .evolution-icon > svg {
        max-width: 60px;
      }
      & .carcade-icon > svg {
        max-width: 60px;
      }
    }
    @media (max-width: 350px) {
      gap: 15px;
    }
  }
  &__bottom-info {
    display: flex;
    gap: 100px;
    margin-top: 15px;
    @media (max-width: 1099px) {
      gap: 50px;
    }

    & > span {
      font-size: 14px;
      font-weight: 300;
      color: #2c2c2c;
      z-index: 3;

      @media (min-width: 2000px) {
        font-size: 18px;
      }
    }
    a {
      color: #2c2c2c
    }
  }
}
