.slider {
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    max-width: 234px;
    height: 353px;
    color: var(--color-black);
    opacity: 0.5;
    cursor: pointer;


    &:hover .slider__price {
      color: var(--color-blue);
      transition: all 0.4s;
    }

    @media (min-width: 2000px) {
      max-width: 260px;
    }
  }

  &__card {
    padding: 10px 15px;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    height: fit-content;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

    @media (min-width: 2000px) {
      font-size: 20px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
    transition: all 0.4s;

    @media (min-width: 2000px) {
      font-size: 23px;
    }
  }

  &__img {
    max-width: 234px;
    max-height: 234px;
    width: 80%;
  }
}

// Images
.slider__img.lightmachine {
  max-width: 139px;
  @media (max-width: 991px) {
    max-width: 90px;
  }
}
.slider__img.lightbalance {
  max-width: 177px;
  @media (max-width: 991px) {
    max-width: 140px;
  }
}

//slider jquery

.active-slide {
  .slider__slide {
    opacity: 1;
  }
}

.rotating-slider-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  min-height: 900px;
  overflow: hidden;

  @media (min-width: 3500px) {
   height: 1100px;
  }
  @media (max-width: 1199px) {
    right: -120px;
  }
  @media (max-width: 1080px) {
    right: -75px;
  }
  @media (max-width: 991px) {
    position: initial;
    width: 100%;
    height: 660px;
    min-height: fit-content;
  }
  @media (max-width: 767px) {
    height: 600px;
  }
  @media (max-width: 575px) {
    height: 550px;
  }
}

.rotating-slider {
  margin: 200px auto 0 auto;
  position: relative;
  height: 424px;
  transform: rotate(286deg);
  @media (max-width: 991px) {
    height: 650px;
    margin: 0;
    transform: rotate(350deg);
  }
  @media (max-width: 767px) {
    transform: rotate(357deg);
    margin-top: -40px;
  }
  @media (max-width: 530px) {
    transform: rotate(358deg);
  }
  @media (max-width: 480px) {
    transform: rotate(357.5deg);
  }
  @media (max-width: 460px) {
    transform: rotate(359deg);
  }
  @media (max-width: 420px) {
    transform: rotate(360deg);
  }
  @media (max-width: 380px) {
    transform: rotate(361deg);
  }
  @media (max-width: 350px) {
    transform: rotate(362deg);
  }
  @media (max-width: 330px) {
    transform: rotate(363deg);
  }
}

.rotating-slider ul.slides {
  border-radius: 50%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 102px !important;
  left: 50%;
  transform: translateX(-50%) rotate(0);
  transform-origin: center center;
  width: 100%;
  filter: drop-shadow(18px -4px 27px rgba(0, 0, 0, 0.51));
  @media (max-width: 991px) {
    left: 53%;
  }
  @media (max-width: 575px) {
    left: 48%;
  }
  @media (max-width: 480px) {
    left: 43%;
  }
}

.rotating-slider ul.slides .slide-inner {
  position: absolute;
  bottom: 72px;
  right: 300px;
  transform: rotate(75deg);
  @media (max-width: 991px) {
    transform: rotate(9deg);
    bottom: 95px;
    right: 145px;
  }
  @media (max-width: 767px) {
    transform: rotate(3deg);
    right: 210px;
  }
  @media (max-width: 575px) {
    right: 209px;
  }
  @media (max-width: 520px) {
    right: 223px;
  }
  @media (max-width: 460px) {
    transform: rotate(1deg);
  }
  @media (max-width: 450px) {
    right: 238px;
  }
  @media (max-width: 430px) {
    right: 247px;
  }
  @media (max-width: 390px) {
    right: 254px;
  }
  @media (max-width: 380px) {
    right: 262px;
    transform: rotate(-1deg);
  }
  @media (max-width: 360px) {
    right: 272px;
  }
  @media (max-width: 342px) {
    right: 282px;
    transform: rotate(-2deg);
  }
}

.rotating-slider ul.direction-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -280px;
  right: 0;
  transform: rotate(344deg);
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;

  @media (min-width: 1920px) {
    bottom: -305px;
    right: 60px;
  }
  @media (max-width: 1399px) {
    bottom: -230px;
    right: 55px;
  }
  @media (max-width: 1199px) {
    bottom: 200px;
    right: 206px;
  }
  @media (max-width: 991px) {
    transform: rotate(11deg);
    bottom: -256px;
    right: -71px;
  }
  @media (max-width: 767px) {
    transform: rotate(4deg);
    bottom: -225px;
    right: -36px;
  }
  @media (max-width: 575px) {
    right: -12px;
  }
  @media (max-width: 530px) {
    transform: rotate(3deg);
    bottom: -62%;
    right: -2%;
  }
  @media (max-width: 480px) {
    transform: rotate(3deg);
    right: 4%;
  }
  @media (max-width: 460px) {
    transform: rotate(2deg);
  }
  @media (max-width: 420px) {
    transform: rotate(0deg);
    right: 7%;
  }
  @media (max-width: 400px) {
    right: 8%;
  }
  @media (max-width: 380px) {
    transform: rotate(0deg);
    right: 10%;
  }
  @media (max-width: 350px) {
    transform: rotate(-1deg);
  }
  @media (max-width: 340px) {
    right: 13%;
  }
  @media (max-width: 330px) {
    transform: rotate(-2deg);
  }
}

.rotating-slider ul.direction-controls li button {
  background: var(--color-white);
  border: none;
  outline: none;
  color: var(--color-black);
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  padding-bottom: 6px;
  text-align: center;
  transition: background 0.35s;

  &:hover {
    background: var(--color-yellow);
  }

  @media (max-width: 1199px) {
    background: var(--color-yellow);
    color: var(--color-white);
    &:hover {
      background: #23459b;
    }
  }
  @media (max-width: 991px) {
    color: var(--color-black);
    background: var(--color-white);
    &:hover {
      background: var(--color-yellow);
    }
  }
}


.rotating-slider ul.direction-controls li.left-arrow button {
  border-radius: 100%;
}

.rotating-slider ul.direction-controls li.right-arrow button {
  border-radius: 100%;
}

.rotating-slider ul.slides li {
  background-color: var(--color-white);
  display: block;
  list-style: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom center;
  width: 100%;
  box-sizing: content-box;
}
