.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;

  @media (max-width: 1199px) {
    max-width: 280px;
  }
  @media (max-width: 991px) {
    min-width: 255px;
  }
  &__img {
    max-width: 100%;
    &_touchable {
      cursor: pointer;
    }
  }
  &__info {
    padding: 15px;
    padding-top: 10px;
    ul {
      list-style: none;
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 0 15px 15px 15px;
    @media (max-width: 991px) {
      margin-top: auto;
    }
    .button_outlined {
      color: var(--color-black);
      border-color: var(--color-black);
      &:hover {
        background: #d8d8d8;
      }
    }
  }
  &__quantity {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 14px;
    color: var(--color-white);
    font-weight: bold;
    background: var(--color-black);
    padding: 5px 10px 6px 10px;
    border-radius: 0px 5px 5px 0px;
    z-index: 111;
  }
}
