* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham', sans-serif;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  transition: all 0.4s;
}
button {
  border: none;
  cursor: pointer;
}
input {
  &:focus-visible {
    outline: none;
  }
}

body {
  background: radial-gradient(99.62% 150.21% at 101.63% 52.83%, #404040 0%, #000000 100%);
  overflow-x: hidden;
}

.page-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 19px;
  @media (min-width: 2000px) {
    max-width: 1560px;
  }
  @media (max-width: 575px) {
    padding: 50px 30px;
  }
}
.color-red {
  color: var(--color-red);
}
