:root {
  --color-yellow: #e5001f; //main color
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #2C2C2C;
  --color-blue: #004799;
  --color-red: #e15858;
  --hover-yellow: #c1041e; //main color hover
}
