:root {
  --color-yellow: #c32826; //main color
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #2C2C2C;
  --color-blue: #02468d;
  --color-red: #e15858;
  --hover-yellow: #900503; //main color hover
}
